<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <meta-data
      android:name="com.harryaskham.pidroid.ALLOW_DISPOSABLE_EMULATOR_BRIDGE"
      android:value="true" />
    <meta-data
      android:name="com.harryaskham.pidroid.ALLOW_EXTERNAL_CANARY_IMPORT"
      android:value="true" />
  </application>
</manifest>
