<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <application>
    <activity
      android:name="com.harryaskham.pidroid.MainActivity"
      tools:node="merge">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
          android:host="host"
          android:pathPrefix="/"
          android:scheme="pidroid" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <action android:name="android.intent.action.SEND_MULTIPLE" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/png" />
        <data android:mimeType="image/jpeg" />
        <data android:mimeType="image/webp" />
        <data android:mimeType="image/gif" />
      </intent-filter>
    </activity>

    <receiver
      android:name=".PinnedSessionWidgetProvider"
      android:exported="false">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/pinned_session_widget_info" />
    </receiver>

    <receiver
      android:name=".SessionCollectionWidgetProvider"
      android:exported="false">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/session_collection_widget_info" />
    </receiver>

    <service
      android:name=".SessionCollectionRemoteViewsService"
      android:exported="false"
      android:permission="android.permission.BIND_REMOTEVIEWS" />
  </application>
</manifest>
